body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto/ auto 1fr auto;
    text-align: center;
}

header{
    display: block;
    margin: 10px solid black;
    background: blue;
    padding-bottom: 2px;
    
}

a {
    background: black;
    color: white;
}

nav {
    padding: auto;
    margin: 10px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
}



main{
    display: grid;
        height: 100vh;
        grid-template: auto 1fr auto / auto 1fr auto;
}
