 /* Body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

 /* Header */
header {
    background-color: #1d4d72;
    color: white;
    text-align: center;
    padding: 10px 0;
}

 /* Navigation */
.nav {
    display: flex;
    padding: 20px;
    background: #333333;
    justify-content: space-between;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: #555555;
    color: #801700;
}

a:hover {
    color: #801700;
}

a {
    color: hsl(247, 93%, 48%);
}

 /* Main Title */
.container1 {
    grid-column: 1 /4;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

 /* Header */


h1 { 
    text-align: center;
}

h3{
    text-align: center;
    border-bottom: 1px solid black ;
}

.inner-header {
    /* text-align: center;  */
    display: flex;
    background: #1d4d72;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

/* Images */
img {
    width: 75px;
    height: auto;
    border: 1px solid black;
    padding: 1px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
    float: right;
}

.profile-img {
    float: left;
}

/* Card Section */
.card {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1rem;
}

/* Section */
section {
    
    margin-bottom: 50px;
}

/* Footer */
footer {
    background: #1d4d72;
    color: #ffffff;
    text-align: center;
    border: 200px;
    border-radius: 0.5rem;
}

footer span {
    display: block;
    margin: 0.3rem 0;
    font-size: 0.9rem;
}
